# Bytecode and logs
__pycache__/
*.py[cod]
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store

# Conda
environment.yml

# Ignore all CSV and TeX files except specific results
*.csv
*.tex

# Allow tracked results
!results/chi2_dispersion_variance.csv
!results/chi2_table.tex